# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: CI

on:
  push:
    branches:
    - main
    paths-ignore:
    - 'CONTRIBUTING.md'
    - 'LICENSE'
    - 'README.md'

  pull_request:
    branches:
    - main
    paths-ignore:
    - 'CONTRIBUTING.md'
    - 'LICENSE'
    - 'README.md'

jobs:
  gradle-wrapper-validation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gradle/wrapper-validation-action@v3
  check-java-formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 11
      - name: Remove default github maven configuration
        # This step is a workaround to avoid a decryption issue of Beam's
        # net.linguica.gradle.maven.settings plugin and github's provided maven
        # settings.xml file
        run: rm ~/.m2/settings.xml
      - name: Check Java formatting
        uses: gradle/gradle-build-action@v3
        with:
          cache-disabled: true
          gradle-version: 5.6.4
          arguments: --no-daemon --stacktrace spotlessJavaCheck
  build:
    needs: [gradle-wrapper-validation, check-java-formatting]
    strategy:
      fail-fast: false
      matrix:
        gradle: [4.10.3, "5.0", 5.1.1, 5.2.1, 5.3.1, 5.4.1, 5.5.1, 5.6.4, 6.0.1, 6.1.1, 6.2.2, 6.3, 6.4.1, 6.5.1, 6.6.1, 6.7.1, 6.8.3, 6.9.4, 7.0.2, 7.1.1, 7.2, 7.3.3, 7.4.2, 7.5.1, 7.6.3, 8.0.2, 8.1.1, 8.2.1, 8.3, 8.4, 8.5, 8.8, "8.10.2"]
    # https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-syntax-for-github-actions#jobsjob_idif
    if: github.repository == 'project-ncl/gradle-manipulator' && github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: 11
    - name: Remove default github maven configuration
      # This step is a workaround to avoid a decryption issue of Beam's
      # net.linguica.gradle.maven.settings plugin and github's provided maven
      # settings.xml file
      run: rm ~/.m2/settings.xml
    - name: Fix build for Gradle ${{ matrix.gradle }}
      run: ./gradle/fix-build.sh ${{ matrix.gradle }}
    - uses: gradle/gradle-build-action@v3
      with:
        gradle-version: ${{ matrix.gradle }}
        arguments: --no-daemon --stacktrace clean build AggregateJacocoReport
    # - name: Setup tmate session
    #   uses: mxschmitt/action-tmate@v3
    #   if: ${{ failure() }}
    - name: Codecov
      uses: codecov/codecov-action@v4
      with:
        files: ./build/reports/jacoco/aggregate/jacocoTestReport.xml
        verbose: true

  snapshot:
    if: github.repository == 'project-ncl/gradle-manipulator' && github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: gradle/wrapper-validation-action@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: 11
    - name: Remove default github maven configuration
      # This step is a workaround to avoid a decryption issue of Beam's
      # net.linguica.gradle.maven.settings plugin and github's provided maven
      # settings.xml file
      run: rm ~/.m2/settings.xml
    # https://github.com/marketplace/actions/maven-setings-action
    - name: Maven Settings
      uses: s4u/maven-settings-action@v3.1.0
      with:
        sonatypeSnapshots: true
        githubServer: false
        servers: |
            [{
                "id": "sonatype-nexus-snapshots",
                "username": "${{ secrets.SONATYPE_USERNAME }}",
                "password": "${{ secrets.SONATYPE_PASSWORD }}"
            }]
    - uses: gradle/gradle-build-action@v3
      with:
        arguments: clean build publish AggregateJacocoReport
